<app-slider></app-slider>



<div
  class="container align-items-center justify-content-center m-auto mt-5 w-100 corsure-pointer"
>
  <div class="flex bg-white/10 justify-between p-3 rounded-2xl w-100">
    <div class="flex justify-center gap-4 items-center">
      <div class="bg-white/20 h-full rounded-lg w-1"></div>
      <div class="grid">
        <div class="font-medium truncate">Join Our Socials</div>
        <div class="text-sm truncate">to explore more</div>
      </div>
    </div>
    <a
      alt="Discord"
      class="flex bg-[#5865F2] h-10 justify-center rounded-full text-decoration-none text-white gap-2 hover:bg-opacity-80 items-center px-6"
      href=""
      id="discord"
      target="_blank"
      title="Discord"
    >
      <img
        alt="دسكورد"
        class="w-6"
        height="24"
        src="https://api.iconify.design/cbi:discord.svg?color=%23ffffff"
        width="24"
      />
      <div>Discord</div>
    </a>
  </div>
</div>




<app-last-update></app-last-update>
