<!-- Navbar -->
<nav class="flex-nowrap navbar navbar-expand-lg bg-black bg-body-tertiary py-3">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Toggle button -->
    <a routerLink="/" class="logo ms-3 my-0 py-0" alt="Titan Scans">
      <img src="/assets/imgs/logo_luna.png" class="rounded-pill" />
    </a>
    <!-- Collapsible wrapper -->
    <!-- search -->
    <!-- داخل <div class="container"> في nav-bar.component.html -->
    <div class="search-container mx-3">
      <input
        type="text"
        class="search-input"
        placeholder="Search..."
        [(ngModel)]="searchQuery"
        (input)="onSearchInput()"
      />
      <span class="search-icon">
        <img
          src="https://api.iconify.design/mdi:magnify.svg?color=white"
          alt="search"
          width="24"
          height="24"
        />
      </span>
    </div>
    <app-search></app-search>

    <div class="d-flex align-items-center">
      <!-- Icon -->

      <a
        routerLink="/Latest"
        alt="Latest"
        class="d-flex align-center align-items-center bg-white/10 h-11 justify-center justify-content-center rounded-full text-decoration-none text-white w-1/2 cursor-pointer gap-3 hover:bg-white/20 items-center me-2 mx-3 px-2 sm:px-5 sm:w-fit transition-all"
        title="Latest"
      >
        <img
          alt="أحدث"
          class="w-6"
          height="24"
          src="https://api.iconify.design/mdi:calendar-badge-outline.svg?color=white"
          width="24"
        />
      </a>

      <a
        routerLink="/Series"
        alt="Series"
        class="d-flex align-center align-items-center bg-white/10 h-11 justify-center justify-content-center rounded-full text-decoration-none text-white w-1/2 cursor-pointer gap-3 hover:bg-white/20 items-center me-2 mx-3 px-3 sm:px-5 sm:w-fit transition-all"
        title="Series"
      >
        <img
          alt="قائمة"
          class="w-6"
          height="24"
          src="https://api.iconify.design/material-symbols:space-dashboard-rounded.svg?color=white"
          width="24"
        />
        <div class="fs-6 fw-medium md-nav-none sm:block">Series</div>
      </a>
      <!-- Avatar -->
      <a
        routerLink="/Library"
        alt="Library"
        class="d-flex align-center align-items-center bg-white/10 h-11 justify-center justify-content-center rounded-full text-decoration-none text-white w-1/2 cursor-pointer gap-3 hover:bg-white/20 items-center me-2 mx-3 px-3 sm:px-5 sm:w-fit transition-all"
        title="Library"
      >
        <img
          alt="bottomHeader"
          class="w-6"
          height="24"
          src="https://api.iconify.design/fluent:library-28-filled.svg?color=white"
          width="24"
        />
        <div class="fs-6 fw-medium md-nav-none sm:block">Library</div>
      </a>

      <!-- looging -->
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <a
          id="open_login_panel_button"
          class="d-flex align-items-center justify-content-center gap-2 px-3 py-2 rounded-pill text-decoration-none bg-white bg-opacity-10 text-white transition-all hover:bg-opacity-20 w-100 w-sm-auto"
          title="Sign in"
          data-bs-toggle="modal"
          data-bs-target="#loginModal"
        >
          <img
            src="https://api.iconify.design/majesticons:login-half-circle.svg?color=white"
            alt="login-icon"
            class="me-1"
            width="24"
            height="24"
          />
          <span class="d-none d-sm-inline fs-6 fw-medium">Sign in</span>
        </a>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<app-login></app-login>
