<!-- Navbar -->
<nav class="flex-nowrap navbar navbar-expand-lg bg-black bg-body-tertiary py-3">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Toggle button -->
    <a routerLink="/" class="logo ms-3 my-0 py-0" alt="Titan Scans">
      <img src="../../../assets/imgs/logo.jpg" class="rounded-pill" />
    </a>
    <!-- Collapsible wrapper -->
    <!-- Right elements -->
    <div class="container aligen-center items-center ms-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="search-container">
            <input
              type="text"
              class="rounded-full search-input"
              placeholder="Search..."
            />
            <i class="fa-search fas search-icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <!-- Icon -->

      <a
        routerLink="/Latest"
        alt="Latest"
        class="d-flex align-center align-items-center bg-white/10 h-11 justify-center justify-content-center rounded-full text-decoration-none text-white w-1/2 cursor-pointer gap-3 hover:bg-white/20 items-center me-2 mx-3 px-2 sm:px-5 sm:w-fit transition-all"
        title="Latest"
      >
        <img
          alt="أحدث"
          class="w-6"
          height="24"
          src="https://api.iconify.design/mdi:calendar-badge-outline.svg?color=white"
          width="24"
        />
      </a>

      <a
        routerLink="/Series"
        alt="Series"
        class="d-flex align-center align-items-center bg-white/10 h-11 justify-center justify-content-center rounded-full text-decoration-none text-white w-1/2 cursor-pointer gap-3 hover:bg-white/20 items-center me-2 mx-3 px-3 sm:px-5 sm:w-fit transition-all"
        title="Series"
      >
        <img
          alt="قائمة"
          class="w-6"
          height="24"
          src="https://api.iconify.design/material-symbols:space-dashboard-rounded.svg?color=white"
          width="24"
        />
        <div class="fs-4 md-nav-none sm:block">Series</div>
      </a>
      <!-- Avatar -->
      <a
        routerLink="/Library"
        alt="Library"
        class="d-flex align-center align-items-center bg-white/10 h-11 justify-center justify-content-center rounded-full text-decoration-none text-white w-1/2 cursor-pointer gap-3 hover:bg-white/20 items-center me-2 mx-3 px-3 sm:px-5 sm:w-fit transition-all"
        title="Library"
      >
        <img
          alt="bottomHeader"
          class="w-6"
          height="24"
          src="https://api.iconify.design/fluent:library-28-filled.svg?color=white"
          width="24"
        />
        <div class="fs-4 md-nav-none sm:block">Library</div>
      </a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
