<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg ">
    <div class="modal-content bg-dark text-white rounded-4 shadow-lg">
      <div class="modal-header border-0 d-flex justify-content-between align-items-center">
        <h5 class="modal-title" id="loginModalLabel">Sign In</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body justify-content-center align-content-center">
        <div class="background-overlay"></div>
      

        <!-- Social login buttons -->
        <div class="social-login mt-4">
            <button class="btn btn-outline-light w-100 mb-3">
              <img class="w-20" src="https://img.icons8.com/?size=100&id=65646&format=png&color=000000" alt="Google">
              Continue with Discord
            </button>
            <button class="btn btn-outline-light w-100">
                <img class="w-20" src="https://img.icons8.com/?size=100&id=17949&format=png&color=000000" alt="Discord">
            Continue with Google
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
