<div class="title d-flex w-100 container my-4 pt-5">
  <h4 class="text-white">
    <i class="fa-solid fa-arrow-trend-up text-primary"></i> Trending
  </h4>
</div>

<div class="container">
  <div class="d-flex justify-content-between gap-3 flex-wrap no-wrap-on-small">
    <div class="card text-light trending-card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><span class="fs-2">#1</span> I Thought...</h5>
        <span class="fs-6 opacity-50">Action</span>
      </div>
    </div>
    <div class="card text-light trending-card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><span class="fs-2">#2</span> I Thought...</h5>
        <span class="fs-6 opacity-50">Action</span>
      </div>
    </div>
    <div class="card text-light trending-card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><span class="fs-2">#3</span> I Thought...</h5>
        <span class="fs-6 opacity-50">Action</span>
      </div>
    </div>
  </div>
</div>







<div class="title d-flex w-100 justify-content-between container my-4 pt-5">





  <h4 class="text-white">
    <i class="fa-solid fa-fire-flame-curved text-primary"></i> Last Updates
  </h4>
  <h4 class="cursor-pointer">
    <a href="#" class="text-decoration-none text-white"> View All > </a>
  </h4>
</div>


<!--  app  -->
<app-manhwa-card></app-manhwa-card>




<div class="container my-4 pt-5">
  <!-- Title -->
  <div class="row align-items-center mb-3">
    <div class="col-8 col-md-6">
      <h4 class="text-white">
        <i class="fa-solid fa-fire-flame-curved text-primary"></i> Recently Added
      </h4>
    </div>
    <div class="col-4 col-md-6 text-end">
      <h4 class="cursor-pointer">
        <a href="#" class="text-decoration-none text-white">View All ></a>
      </h4>
    </div>
  </div>

  <!-- Cards Grid -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    <div class="col" *ngFor="let card of recentlyAdded">
      <div class="card border-0 text-light">
        <img
          src="{{ card.image }}"
          class="card-img-top"
          alt="Recently Added"
        />
        <div class="card-body bg-black border-0 shadow-none">
          <h5 class="card-title">
            <span class="fs-2">#{{ card.rank }}</span>
            {{ card.title }}
          </h5>
          <span class="fs-6 opacity-25 w-100 ms-5">{{ card.genre }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
